.DS_Store
Package.resolved
.package.resolved
Configuration/custom.xcconfig
xcuserdata/
LookInsideExample-iOS.xcworkspace/
!LookInsideExample-iOS.xcodeproj/xcshareddata/
!LookInsideExample-iOS.xcodeproj/xcshareddata/xcschemes/
!LookInsideExample-iOS.xcodeproj/xcshareddata/xcschemes/*.xcscheme
DerivedData/
build/
.build/
*.swiftpm
